{% extends 'base.html' %}
{% load static %}

{% block title %}Автобаттлер - Создание персонажа{% endblock %}
{% block header %}Автобаттлер - Создание персонажа{% endblock %}

{% block content %}
<div class="character-creation">
    <h2>Выберите класс персонажа</h2>

    <div id="error-message" class="error-message"></div>

    <div id="loading" class="loading">
        <div class="spinner"></div>
        <p id="loading-text">Загрузка...</p>
    </div>

    <div class="class-list">
        <!-- Classes will be loaded here by JavaScript -->
    </div>

    <div class="selected-class">
        <strong>Выбранный класс:</strong> <span id="selected-class-name">Не выбран</span>
    </div>

    <div class="attributes">
        <h3>Характеристики персонажа</h3>
        <div class="attribute">
            <span>Сила:</span>
            <span id="strength">-</span>
        </div>
        <div class="attribute">
            <span>Ловкость:</span>
            <span id="agility">-</span>
        </div>
        <div class="attribute">
            <span>Выносливость:</span>
            <span id="endurance">-</span>
        </div>

        <button id="reroll-attributes" class="small-button">Перебросить характеристики</button>
    </div>

    <button id="create-character" disabled>Создать персонажа</button>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/character_creation.js' %}"></script>
{% endblock %}